<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
 
<table id="articles">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody class="page">
    <%= render @articles %>
  </tbody>   
</table>

   
  <%= link_to 'Back', articles_path %>
 
  <div id='pag'>
  <%= render 'paginator' %>
  </div>
 